<a href="https://colab.research.google.com/github/keshavchandel13/Pandas/blob/main/DropingEditingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Droping and editing values

In [1]:
import numpy as np
import pandas as pd

In [9]:
# Creating a dataFrame
list_of_tuples = [('sf',2012),('phx',np.nan),('phx',2005),('chi',2009)]
df = pd.DataFrame(list_of_tuples,columns=['city','year'])
df['country'] = 'India'
df['continent'] = 'Asia'

In [3]:
print(df)

  city    year country continent
0   sf  2012.0   India      Asia
1  phx     NaN   India      Asia
2  phx  2005.0   India      Asia
3  chi  2009.0   India      Asia

In [11]:
# To remove the column from the dataFrame with the .drop() by refrencing label and axis
# axis 0 = rows
# axis 1 = columns
df2= df.drop('country', axis=1, inplace=False)
print(df2)

  city    year continent
0   sf  2012.0      Asia
1  phx     NaN      Asia
2  phx  2005.0      Asia
3  chi  2009.0      Asia

In [12]:
# another method to remove the column form the dataFrame: del()
del(df2['continent'])
print(df2)

  city    year
0   sf  2012.0
1  phx     NaN
2  phx  2005.0
3  chi  2009.0