<a href="https://colab.research.google.com/github/keshavchandel13/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
import numpy as np
import pandas as pd

# Series function in pandas
# In place of enumerate we can use Series
lst = [11,22,43,84,98]
# use of enumerate: prints data with Their index
for i,j in enumerate(lst):
  print(i,j)
# To manipulate the large data it is difficult with index so we can use Series function
pd.Series(lst)

0 11
1 22
2 43
3 84
4 98

0    11
1    22
2    43
3    84
4    98
dtype: int64

In [ ]:
# Creating of Series
t1 = (3,4,5) # the tuple or list can we passed
s1 = pd.Series(t1,index=['a','b','c'])
print(s1)
print(type(s1))

a    3
b    4
c    5
dtype: int64
<class 'pandas.core.series.Series'>

# Extracting data from series

In [5]:
import numpy as np
import pandas as pd
s = pd.Series([23,12,54,55],index=['a','b','c','d'])
print(s)
#  Method 1: Position Based indexing
print(s['a'])
# Method 2: Label Based Indexing
print(s[0])
# Method 3: range based extracting
print(s['a':'c']) # last index is included in label based
# Method 4: Specific records extracting
print(s[['b','a']])

a    23
b    12
c    54
d    55
dtype: int64
23
23
a    23
b    12
c    54
dtype: int64
b    12
a    23
dtype: int64

<ipython-input-5-d548e99f6801>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [10]:
veg = pd.Series({'potato':3,'tomato':6,'chilly':2,'pumpkin':8,'carrot':10,'radish':4})
print(veg)
print(veg.index)
print(veg.shape)
# Subset series
print("subset series")
print(veg[['potato','tomato']])
print(veg[0])

potato      3
tomato      6
chilly      2
pumpkin     8
carrot     10
radish      4
dtype: int64
Index(['potato', 'tomato', 'chilly', 'pumpkin', 'carrot', 'radish'], dtype='object')
(6,)
subset series
potato    3
tomato    6
dtype: int64
3

<ipython-input-10-2ce50041dd1e>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(veg[0])

In [20]:
# loc / iloc
# loc: Label based indexing
# iloc: position based indexing
print(veg.loc['potato'])
print(veg.iloc[0])
print(veg > 2) # print bool
print()
print()
print()
# To print filtered data
print("Filtered Data")
print(veg[veg > 7])
print()
print()

# head and tail
print("Prints first 2 data\n")
print(veg.head(2))
print("\nPrints bottom 2 data\n")
print(veg.tail(2))

3
3
potato      True
tomato      True
chilly     False
pumpkin     True
carrot      True
radish      True
dtype: bool



Filtered Data
pumpkin     8
carrot     10
dtype: int64


Prints first 2 data

potato    3
tomato    6
dtype: int64

Prints bottom 2 data

carrot    10
radish     4
dtype: int64

In [23]:
# Check the value belongs to the series
print('potato' in veg)
print('brinjal' in veg)
print()
print()
# isin function
print(veg.isin([2,10]))

True
False


potato     False
tomato     False
chilly      True
pumpkin    False
carrot      True
radish     False
dtype: bool

In [25]:
# Unique(): none of all unique records
# nunique(): count of unique records
# value_counts(): name of uniques records with their occurences
s = pd.Series({'a':1,"b":2,"c":1,"d":2,"e":3})
print("Unique() function")
print(s.unique())
print("nunique() function")
print(s.nunique())
print("value_count() function")
print(s.value_counts())

Unique() function
[1 2 3]
nunique() function
3
value_count() function
1    2
2    2
3    1
Name: count, dtype: int64

In [26]:
# dealing with duplicates
print(s.duplicated())
print(s.drop_duplicates())

a    False
b    False
c     True
d     True
e    False
dtype: bool
a    1
b    2
e    3
dtype: int64

# sorting series

In [27]:
# Sorting series
# Sorting using label
print(veg.sort_index())
# Sorting using values
print(veg.sort_values())

carrot     10
chilly      2
potato      3
pumpkin     8
radish      4
tomato      6
dtype: int64
chilly      2
potato      3
radish      4
tomato      6
pumpkin     8
carrot     10
dtype: int64