<a href="https://colab.research.google.com/github/keshavchandel13/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [4]:
import numpy as np
import pandas as pd

# Series function in pandas
# In place of enumerate we can use Series
lst = [11,22,43,84,98]
# use of enumerate: prints data with Their index
for i,j in enumerate(lst):
  print(i,j)
# To manipulate the large data it is difficult with index so we can use Series function
pd.Series(lst)

0 11
1 22
2 43
3 84
4 98

0    11
1    22
2    43
3    84
4    98
dtype: int64

In [6]:
# Creating of Series
t1 = (3,4,5)
s1 = pd.Series(t1,index=['a','b','c'])
print(s1)
print(type(s1))

a    3
b    4
c    5
dtype: int64
<class 'pandas.core.series.Series'>